.Footer{
    background: #223645;
    background-position: center center;
    background-size: 100% 100%;
}
.footer-item{
    color: rgb(216, 216, 216);
    background: inherit;

}
.list-group-item {
    border: none;
}
.Footer a:hover {
    color: #ffb545;
}
.footer-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}
.footer-image img{
    width: 100%;
}