.Footer{
    background: #223645;
}
.footer-item{
    color: rgb(216, 216, 216);
    background: #223645;

}
.list-group-item {
    border: none;
}
.Footer a:hover {
    color: #fd7e14;
}
.footer-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}
.footer-image img{
    width: 100%;
}