.sign-up{
    padding: 80px 0 100px 0;
}
.login-link,
.login-link:hover{
    text-decoration: none;
    color: #ffb545;
    margin-top: 20px;
}
.signup-side{
    padding: 12rem .8rem;
    background-position: center;
    background-size: 100% 100%;
}
.signup-side-text {
    color: #fff;
    line-height: 3rem;
    letter-spacing: 0.2rem;
}

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .signup-side {
        padding: 4rem 0 10rem 0;
        margin: 0 5rem 3rem 5rem ;
    }
}


/* Mobile Device */
@media only screen and (max-width:688px) {
    .signup-side {
        margin-bottom: 3rem;
    }
}