.details-sidebar{
    background: #f0f8ffeb;
}
.details-sidebar-wrap{
    margin-top: 4rem;
}
.sidebar-list{
    margin-bottom: 6rem;
}
.sidebar-list h3 {
    color: #223645;
    font-size: 1.6rem;
    font-weight: 700;
}
.sidebar-list-item {
    text-decoration: none;
    color: #223645;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.3rem 0;
    border-bottom: 1px solid #8080802e;
}
.sidebar-list-item:last-child{
    border-bottom: none;
}
.sidebar-list-item:hover{
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.06);
        color: #fd7e14;
}
.sidebar-contact {
    background-color: #fd7e14;
    background-position: center;
    background-size: 100% 100%;
    padding: 4rem 0 10rem 0;
}

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .sidebar-contact {
        padding: 4rem 0 10rem 0;
        margin: 0 5rem ;
    }
}


/* Mobile Device */
@media only screen and (max-width:688px) {
  
}